/* Add Your Styles Here */

body{
    font-family: Arial,sans-serif;
    margin:0;
}
.main-header{
    background-image: url("../");
}
.home-news-section{
    text-align: center;
}
.home-news-article{
    border:2px solid black;
    width:300px;
    height: 500px;
    display: inline-grid;
}
.home-news-article{
    width: 100%;
}

.gallary-section{

}
.gallery-figure{
    border:2px solid black;
    width:300px;
    margin:5px;
    display: inline-block;
    padding:5px;
    border-radius: 20px;
}
.gallery-figure img{
    width: 100%;
    height: 200px;
    text-align: center;

}
.about-section{

}